#container #palhetaControle {
	display: block;
}

#container #palhetaControle #botao-novo {
	display: block;
}

#container #palhetaControle #botao-salvar {
	display: block;
}

#container #palhetaControle #botao-tela-pesquisa {
	display: block;
}

#container #palhetaControle #botao-voltar {
	display: block;
}

#container #palhetaControle #botao-limpar {
	display: block;
}

#container #palhetaControle #botao-ajuda {
	display: block;
}


/* Controle das Abas */
#container #palhetaControleAba {
    display: block;
}

#container #palhetaControleAba #botao-novo {
    display: block;
}

#container #palhetaControleAba #botao-salvar {
    display: block;
}

#container #palhetaControleAba #botao-tela-pesquisa {
    display: block;
}

#container #palhetaControleAba #botao-voltar {
    display: block;
}

#container #palhetaControleAba #botao-limpar {
    display: block;
}