
#tabelaConsulta .cd_acao {
    width: 10%;
}

#tabelaConsulta .no_acao {
    width: 20%;
}

#tabelaConsulta .ds_acao {
    width: 40%;
}

#tabelaConsulta .fl_menu {
    width: 10%;
}

#tabelaConsulta .ord_acao {
    width: 10%;
}

#tabelaConsulta .fl_perm {
    width: 10%;
}