#ambiente {
    width: 60%;
    background-color: #ddd;
    border-radius: 5px 5px 5px;
    height: 19px;
    padding-bottom: 1px;
    padding-top: 2px;
    padding-left: 2px;
    float: left;
}