#botao-novo {
	display: none !important;
}

#botao-salvar {
	display: none !important;
}

#botao-excluir {
	display: none !important;
}

#botao-pesquisar {
	display: none !important;
}

#botao-tela-pesquisa {
	display: none !important;
}